/* DeleteButton.module.css */
.deleteButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton:hover {
    background-color: #ff1a1a;
  }